<!DOCTYPE html>
<html data-ng-app= "gatoEncerradoApp">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="Style/Style.css">
<script src="Lib/angular.min.js"></script>
<script src="Lib/angular-resource.min.js"></script>

<script src="Script/jquery-1.12.3.js"></script>
<script src="Script/bootstrap.js"></script>
<script src="Script/controller.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gato Encerrado</title>
<link rel="stylesheet" href="Style/bootstrap.css">
</head>
<body ng-controller= "gatoEncerradoControlador">


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"><h1>Aca hay gato encerrado</h1></div>
    <div class="col-md-4"><h4>Usuario: {{usuario}}</h4></div>
  </div>
</div>

<div class="row margin-top-30"></div>
    <!-- <div class="container-fluid"> -->
     <aside class="col-md-4 panel panel-default" id="aside">
          <div id="menuLaberintos panel panel-default">
          <ul class="list-group" align="left">
                  <li class="laberinto1 list-group-item row swing" >
         <div ng-repeat="laberinto in laberintos"> 
            <a ng-href="{{laberinto.path}}.html" class="btn btn-default btn-lg btn-block" role="button">
              <img ng-src="WebContent/{{laberinto.path}}" class="img-responsive" alt="imagen laberinto"/>{{laberinto.nombreLaberinto}}</a>
              </div>
        </li>
        </ul>
      
      </aside>
    <div class="col-md-8">
    <div class="center-block"> 
      <h1>{{iniciarLaberinto.nombreLaberinto}}</h1>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-6">
            {{iniciarLaberinto.primeraHab}}
            <img src="WebContent/laberintos_1.jpg" class="img-responsive" alt="laberinto snapshot">
          </div>
          <div id="contenedorInternoDerecho" class="col-md-2  panel panel-default">
            <ul class="list-group" align="center">
              <li>
                <button type="button" class="btn btn-success btn-acciones row" ng-repeat="accion in primeraHab.acciones" ng-click="realizarAccion(primeraHab.id, accion.id, idUsuario)">{{accion.nombreAccion}} </button> 
              </li>
            </ul>
          </div>
    </div>
       <div class= "col-md-4">
         inventario
         <select multiple class="form-control">
          <option ng-repeat="item in inventario">{{item}}</option>
           </div>
         </select>
         <a href="#" class="btn btn-success btn-lg btn-block" role="button">Usar Elemento</a>
       </div>
     </div>
     <hr>
     <a href="#" class="btn btn-danger btn-lg"  data-toggle="modal" 
   data-target="#basicModal">Abandonar Laberinto</a>
    </div>
  </div>
 </div>
  <div class="row margin-top-40"></div>
</div>

<hr>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
            <h4 class="modal-title" id="myModalLabel">Abandonar Laberinto</h4>
            </div>
            <div class="modal-body">
                <h3>Seguro que quiere abandonar el laberinto?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="index.html" class="btn btn-primary" role="button">Aceptar</a>
        </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <p class="text-center"><small><br>Construccion de Interfaces de Usuario 2016<br>
                 Grupo nro 10:  Castro Riquelme Victoria - Rodriguez Alan</small></p>
  </div>
</div>
