<!-- esto es un template asique no necestita todas las declaraciones del index -->
    <div class="center-block"> 
      <h1>{{laberinto.nombreLaberinto}}</h1>
      <img src="WebContent/laberintos_1.jpg" class="img-responsive" alt="laberinto seleccionado">
      <p> {{iniciarLaberinto.nombreLaberinto}}<br>
      {{iniciarLaberinto.descripcion}}
      </p>
      
      <hr>
      
      <a href="playlabfirst.html" class="btn btn-success btn-lg" role="button">Jugar</a>
      <a href="index.html" class="btn btn-default btn-lg" role="button"> volver a la pagina principal</a>
    </div>
  
 <!-- tampoco necesitamos el resto -->