<!-- esto es un template asique no necestita todas las declaraciones del index -->
    <div class="center-block"> 
      <h1>{{iniciarLaberinto.nombreLaberinto}}</h1>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-6">
            {{iniciarLaberinto.habInicial}}
            <img src="WebContent/laberintos_1.jpg" class="img-responsive" alt="laberinto snapshot">
          </div>
          <div class= "col-md-6">
            acciones disponibles
            <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Agarrar moneda de 50 ctvos</a>
            <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Ir a Escalera</a>
            <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Usar Maquina de cafe</a>
            <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Meditar un rato</a>
          </div>
        </div>
       <div class= "col-md-4">
         inventario
         <select multiple class="form-control">
          <option ng-repeat="item in obtenerInventario">{{item}}</option>
           </div>
         </select>
         <a href="#" class="btn btn-success btn-lg btn-block" role="button">Usar Elemento</a>
       </div>
     </div>
     <!-- tampoco necesitamos el resto -->